html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #070a10;
  color: rgba(255, 255, 255, 0.92);
  -webkit-text-size-adjust: 100%;
}


input,
textarea,
select,
button {
  font-size: 16px;
}


body {
  -webkit-overflow-scrolling: touch;
}